<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./regist.css">
    <title>Login</title>
</head>
<body>
    <main>
        <section id="left">
            <div class="efek-mengkilap">
                <img src="../../assets/photos/home/GikuLogo.png" alt="">
            </div>
            <div id="cntr-logo">
                <h2>Wellcome To</h2>
                <p>GIGIKU</p>
            </div>
            <div id="ctr-text">
                <p>Daftar akun sekarang dan nikmati fitur daftar antrian online.</p>
            </div>
        </section>
        <section id="right">
            <div class="form-login">
                <div id="text-login">
                    <p class="log">Register</p>
                    <p>Daftar akun sekarang dan nikmati fitur daftar online dari klinik Dr Vony Nur Shanti</p>
                </div>
                <form action="" id="login-form">
                    <label for="name">Nama</label>
                    <input id="name" type="text" required>

                    <label for="email">Email</label>
                    <input id="email" type="email" required>
                    
                    <label for="address">Alamat</label>
                    <input id="address" type="text">

                    <label for="pass">Password</label>
                    <input id="pass" type="password" required>

                    <label for="passConf">Konfirmasi Password</label>
                    <input id="passConf" type="password" required>
                    <button type="submit">Daftar</button>
                </form>
            </div>
        </section>
    </main>
    <div id="overlay" class="overlay">
        <div class="alert-box">
            <div class="close-icon">X</div>
            <div id="text-alert"></div>
            <button onclick="closeAlert()">OK</button>
        </div>
    </div>
    <script src="./regist.js"></script>
</body>
</html>