@font-face {
  font-family: "dosis";
  src: url("../../../assets/font/Dosis-VariableFont_wght.ttf");
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333333;
}

.filter-container {
  margin-bottom: 20px;
  text-align: center;
}

#cntr-table {
  width: 100%;
  overflow: scroll;
}

table {
  width: 200vh;
  border-collapse: collapse;
  margin-top: 10px;
}

table,
th,
td {
  border: 1px solid #dddddd;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {  
  background-color: #f2f2f2;
}

.action-data {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  > img {
    width: 20px;
  }
  >a{
    display: flex;
    align-items: center;
    >img{
      width: 20px;
    }
  }
  > img:hover {
    cursor: pointer;
  }
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Alert Confirm */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  text-align: center;
}
.modal-button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.modal-button.yes {
  background-color: #4caf50;
  color: white;
}
.modal-button.no {
  background-color: #f44336;
  color: white;
}

/* Alert */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

/* Style for the alert box */
.alert-box {
  background: rgba(14, 115, 231, 0.5);
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  width: 300px;
}

/* Style for the close icon */
.alert-box .close-icon {
  font-size: 50px;
  color: red;
  margin-bottom: 20px;
}

/* Style for the OK button */
.alert-box button {
  margin-top: 5px;
  background: white;
  color: rgb(14, 115, 231);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Show overlay and alert box */
.overlay.show {
  display: flex;
}
