<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <div class="card">
    <h2>Reset Password</h2>
    <form id="reset-password-form">
      <div class="form-group">
        <label for="old-password">Old Password</label>
        <input type="password" id="old-password" required>
        <span class="toggle-password" onclick="togglePasswordVisibility('old-password')">
          <img src="https://img.icons8.com/ios-filled/50/000000/visible.png" id="old-password-icon" />
        </span>
      </div>
      <div class="form-group">
        <label for="new-password">New Password</label>
        <input type="password" id="new-password" required>
        <span class="toggle-password" onclick="togglePasswordVisibility('new-password')">
          <img src="https://img.icons8.com/ios-filled/50/000000/visible.png" id="new-password-icon" />
        </span>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-confirm" id="conf-btn">Confirm</button>
        <button type="button" class="btn btn-cancel" onclick="cancelReset()">Cancel</button>
      </div>
    </form>
  </div>

  <!-- Dialog konfirmasi -->
  <div id="confirmModal" class="modal">
    <div class="modal-content">
      <p>Apakah Anda yakin ingin mengubah password?</p>
      <button class="modal-button yes" id="confirmYes">Ya</button>
      <button class="modal-button no" id="confirmNo">Batal</button>
    </div>
  </div>

  <!-- Alert -->
  <div id="overlay" class="overlay">
    <div class="alert-box">
      <div class="close-icon" id="closeIcons">X</div>
      <div id="text-alert"></div>
      <button onclick="closeAlert()">OK</button>
    </div>
  </div>

  <script src="./script.js">

  </script>

</body>

</html>