<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Admin Page</title>
</head>

<body id="bod">
    <div class="sidebar">
        <h2>Klinik Gigi</h2>
        <ul>
            <li id="dashboard-page"><a href="#dashboard">Dashboard</a></li>
            <li id="patient-page"><a href="#patients">Patients</a></li>
            <li id="appoitments-page"><a href="#appointments">Appointments</a></li>
            <li id="schedule-page"><a href="#schedule">Doctors Schedules</a></li>
            <li id="holidays-page"><a href="#holidays">Doctor Holidays</a></li>
            <li id="doctors-page"><a href="#doctors">Doctors</a></li>
            <li id="setting"><a href="#settings">Settings</a></li>
        </ul>
    </div>

    <div class="content">
        <div class="header">
            <h1>Admin Dashboard</h1>
            <button onclick="toggleSidebar()">☰</button>
        </div>
        <div id="dashboard" class="section">
        </div>
        <div id="patients" class="section">
        </div>
        <div id="appointments" class="section">
        </div>
        <div id="doctors" class="section">
        </div>
        <div id="schedule" class="section"></div>
        <div id="holidays" class="section"></div>
    </div>
    
    <div id="form-reg" class="card-regist">
        <h2>Registration Form</h2>
        <form id="form-rgistri">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <label for="address">Address:</label>
            <input type="text" id="address" name="address" required>

            <label for="role">Role:</label>
            <select id="role" name="role" required>
                <option value="Doctor">Doctor</option>
                <option value="Patient">Patient</option>
            </select>

            <button type="submit">Create</button>
        </form>
    </div>

    <div id="settings" class="section">
        <div id="seting-card" class="card-setting">
            <div class="card-header">
                <button id="close-btn" id="btn" onclick="closeCardSetting()">×</button>
            </div>
            <button class="menu-item" onclick="changePassword()">
                <img src="https://img.icons8.com/ios-filled/50/000000/lock.png" alt="Change Password Icon" />
                Change Password
            </button>
            <button class="menu-item" onclick="changeEmail()">
                <img src="https://img.icons8.com/ios-filled/50/000000/email.png" alt="Change Email Icon" />
                Change Email
            </button>
            <button class="menu-item" onclick="logOut()">
                <img src="https://img.icons8.com/ios-filled/50/000000/logout-rounded-left.png" alt="Log Out Icon" />
                Log Out
            </button>
        </div>
    </div>
    </div>

    <!-- Dialog konfirmasi -->
    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <p>Apakah Anda yakin ingin menghapus data ini?</p>
            <button class="modal-button yes" id="confirmYes">Ya</button>
            <button class="modal-button no" id="confirmNo">Batal</button>
        </div>
    </div>

    <!-- Alert -->
    <div id="overlay" class="overlay">
        <div class="alert-box">
            <div class="close-icon">X</div>
            <div id="text-alert"></div>
            <button onclick="closeAlert()">OK</button>
        </div>
    </div>
    <script src="./admin.js"></script>
</body>

</html>