<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./email.css">
    <title>Email Verify</title>
</head>

<body>
    <section id="topS">
        <div>
            <img src="../../assets/photos/home/GikuLogo.png" alt="">
            <h1>GIGIKU</h1>
        </div>
    </section>
    <section id="bottomS">

    </section>
    <div id="email-box">
        <div id="img-ctnr">
            <img src="../../assets/photos/auth/info.png" alt="InformationLogo">
        </div>
        <div>
            <h2>Email Verifikasi</h2>
            <p>Masukan kode verifikasi yang sudah kami kirimkan ke email anda</p>
        </div>
        <form action="" id="form-email">
            <input type="text" name="" id="vC" required placeholder="Masukan Kode Verifikasi">
            <div id="countdown">04:00</div>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div id="overlay" class="overlay">
        <div class="alert-box">
            <div class="close-icon">X</div>
            <div id="text-alert"></div>
            <button onclick="closeAlert()">OK</button>
        </div>
    </div>
    <div id="overlay2" class="overlay2">
        <div class="alert-box">
            <div id="ceklis-icon2">✓</div>
            <div id="text-alert2"></div>
            <button onclick="closeAlert2()">OK</button>
        </div>
    </div>
    <script src="./email.js"></script>
</body>

</html>