<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>patient</title>
</head>

<body>
    <header>
        <div id="logo-klinik">
            <div>
                <img id="logo-gigi" src="./assets/photos/home/GikuLogo.png" alt="LogoGigiku">
            </div>
            <div id="klinikLogo">
                <p> GIGIKU </p>
            </div>
        </div>
        <nav id="navigasi">
            <div id="nav">
                <ul type="none">
                    <li>Daftar Online</li>
                    <li>Tentang Kami</li>
                    <li>
                        <a href="./auth/login/login.html"><button>Masuk</button></a>
                    </li>
                </ul>
            </div>
            <label for="check">
                <div id="burger">
                    <div>
                        <input type="checkbox" id="check">
                        <div class="side-bar">
                            <div id="cLog">
                                <img src="./assets/photos/home/GikuLogo.png" alt="">
                                <p id="jud">GIGIKU</p>
                            </div>
                            <ul type="none">
                                <a href="">
                                    <li>Daftar Online</li>
                                </a>
                                <a href="../Cuaca/project.html">
                                    <li>Tentang Kami</li>
                                </a>
                                <a href="./auth/login/login.html">
                                    <button>Masuk</button>
                                </a>
                            </ul>
                        </div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </label>
        </nav>
    </header>
</body>

</html>