* {
  margin: 0;
  padding: 0;
  font-family: dosis;
}

@font-face {
  font-family: "dosis";
  src: url("../../assets/font/Dosis-VariableFont_wght.ttf");
}

body {
  font-family: dosis;
  margin: 0;
  display: flex;
}

#btn-add {
  color: white;
  border-radius: 0px 20px 0px 20px;
  border: none;
  background-color: rgb(14, 115, 231);
  width: 100px;
  height: 30px;
  font-weight: bold;
}

button:hover {
  background-color: rgb(12, 91, 182);
  cursor: pointer;
}

#ctr-btn{
  margin-bottom: 5px;
}

.sidebar {
  left: 0;
  background-color: #007bff;
  color: white;
  width: 250px;
  height: 100vh;
  position: fixed;
  transition: width 0.8s;
}

.sidebar h2 {
  text-align: center;
  padding: 20px;
  margin: 0;
  background-color: #0056b3;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 15px;
  text-align: center;
}

.sidebar ul li a {
  color: black;
  text-decoration: none;
  display: block;
}

.sidebar ul li a:hover {
  background-color: #0056b3;
}

.content {
  margin-left: 230px;
  padding: 20px;
  width: calc(100% - 230px);
  transition: margin-left 0.3s, width 0.3s;
}

.content .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.content .header h1 {
  margin: 0;
}

.content .header button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

#appointments {
  padding: 0px 20px;
  display: flex;
  gap: 10px;
  width: 100%;
  flex-wrap: wrap;
  color: white;
  margin-top: 30px;
  > .card-dr {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    background-color: #0056b3;
    width: 200px;
    > img {
      width: 100px;
    }
  }

  > .card-dr:hover {
    cursor: pointer;
  }
}

.disable-pass-inp {
  pointer-events: none;
  opacity: 0.5;
  background-color: #0056b3;
}

.section {
  display: none;
}

.section:target {
  display: block;
}

table {
  width: 200vh;
  > thead {
    background-color: #007bff;
  }
}

tr > td {
  padding: 10px;
}

#title-page {
  width: 100%;
  display: flex;
  justify-content: center;
}

#day-filter {
  width: 100%;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  justify-content: center;
}

.action-data {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  > img {
    width: 20px;
  }
  > img:hover {
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .sidebar {
    left: -300px;
  }

  .content {
    margin-left: 0;
    width: 100%;
  }
}

/* Alert */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

/* Style for the alert box */
.alert-box {
  background: rgba(14, 115, 231, 0.5);
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  width: 300px;
}

/* Style for the OK button */
.alert-box button {
  margin-top: 5px;
  background: white;
  color: rgb(14, 115, 231);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Show overlay and alert box */
.overlay.show {
  display: flex;
}

/* Form Registration */
.card-regist {
  position: absolute;
  top: 50%;
  left: -300px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.sld-crd {
  left: 50%;
}

.card-regist h2 {
  margin-top: 0;
  text-align: center;
}

.card-regist form {
  display: flex;
  flex-direction: column;
}

.card-regist label {
  margin-top: 10px;
}

.card-regist input,
.card-regist select {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.card-regist button {
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card-regist button:hover {
  background-color: #0056b3;
}

/* Alert Delete */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  text-align: center;
}
.modal-button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.modal-button.yes {
  background-color: #4caf50;
  color: white;
}
.modal-button.no {
  background-color: #f44336;
  color: white;
}

/* Card input */
.card {
  position: absolute;
  padding: 20px;
  width: 300px;
  display: none;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  top: 30%;
  left: 30%;
}

.card h2 {
  margin-bottom: 20px;
}

.card label {
  display: block;
  text-align: left;
  margin: 10px 0 5px;
}

.card select,
.card input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.button-group button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#cancelBtn {
  background-color: #f44336;
  color: white;
}

#cancelBtn:hover {
  background-color: #d32f2f;
}

#add-btn {
  background-color: #4CAF50;
  color: white;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.card-setting {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: none;
}

.card-header {
  display: flex;
  justify-content: flex-end;
  >#close-btn {
    background-color: #dc3545;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    border-radius: 20%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-size: 30px;
    padding:0px;
  }
}

.menu-item {
  margin-top: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: left;
}
.menu-item:last-child {
  margin-bottom: 0;
}
.menu-item img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

