<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>Home</title>
</head>
<body>
    <header>
        <div id="logo-klinik">
            <div>
                <img id="logo-gigi" src="./assets/photos/home/GikuLogo.png" alt="LogoGigiku">
            </div>
            <div id="klinikLogo">
                <p> GIGIKU </p>
            </div>
        </div>
        <nav id="navigasi">
            <div id="nav">
            <ul type="none">
                <li><a href="./about_us_page/about.html"> Daftar Online </a></li>
                <li><a href="./about_us_page/about.html"> Tentang Kami </a></li>
                <li>
                    <a href="./auth/login/login.html"><button>Masuk</button></a>
                </li>
            </ul>
            </div>
            <label for="check">
                <div id="burger">
                    <div>
                        <input type="checkbox" id="check">
                        <div class="side-bar">
                            <div id="cLog">
                                <img src="./assets/photos/home/GikuLogo.png" alt="">
                                <p id="jud">GIGIKU</p>
                            </div>
                            <ul type="none">
                                <a href="">
                                    <li>Daftar Online</li>
                                </a>
                                <a href="./about_us_page/about.html">
                                    <li>Tentang Kami</li>
                                </a>
                                <a href="./auth/login/login.html">
                                    <button>Masuk</button>
                                </a>
                            </ul>
                        </div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </label>
        </nav>
    </header>
    <main>
        <section id="sb">
            <div id="slogan">
                <p>PROFESIONAL</p>
                <p id="klinik">KLINIK GIGI</p>
                <p>TAKE CARE OF YOUR SMILE</p>
            </div>
            <div>
                <button id="btnRgstN">Daftar Sekarang</button>
            </div>
        </section>

        <section id="right">
            <div id="docter-photos">
                <img src="./assets/photos/home/foto.png" alt="Doctor Photos">
            </div>
            <div class="cashew-container">
                <div id="square">
                    <div id="square2">

                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer>
        <div id="line1"></div>
        <div id="sosmedInfo">
            <a href="#"><img src="./assets/photos/home/facebook (1).png" alt=""></a>
            <a href="#"><img src="./assets/photos/home/social.png" alt=""></a>
            <a href="#"><img src="./assets/photos/home/twitter.png" alt=""></a>
        </div>
        <div id="line2"></div>
    </footer>
</body>
</html>